# Compiler files
cache/
out/
lcov.info

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.gambit
.vscode/settings.json
sumo

test/mutation/test_mutants_parallel.sh
test/mutation/mutant_results